#card_container{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    margin-top: 20px;
    /*background-color: #0b2e13;*/
}


.fact_cards{
    /*background-color: #7AB800;*/
    background-image: url("../images/f5100b98.png");
    color: #ffffff;
    min-height: 250px;
    margin: 0.5%;
    width: 49%;
    padding: 35px;
    transition: 0.3s;
    padding-top: 60px;
    border-radius: 0;


}

body{
    background-image: url("../images/8adf79d1.png");
}

.fact_cards:hover {
    opacity: 0.8;
}

#card_stats_button_contain{
    margin-bottom: 10px;
}



#modal_body{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 1.5;

}

#card_stats_facts_contain{
    text-align: center;
}

.card_images{
    max-width: 75px;
    max-height: 75px;
    margin-bottom: 10px;
}


#flex-container{
    display: flex;
    flex-wrap: wrap;
}

#header{
    min-height: 95vh;
    background-image: url("../images/NQS_Aerial_01.jpg");
    margin-bottom: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}

#header_jumbotron{
    background-color: transparent;
    color: #ffffff;
    max-width: 750px;
    margin: auto;
    text-align: center;
    padding-top: 25vh;


}

#footer1{
    margin-top: 100px;
    background-color: #7AB800;
}

#footer2{
    background-color: #003C69;
    text-align: center;
    color: #ffffff;
    padding-top: 22px;
    padding-bottom: 5px;
}

#footer2 a{
    color: #ffffff;
}

#footer_logos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #7AB800 !important;
    border-color: #7AB800 !important;
}

.btn-primary:hover{
    background-color: #649600 !important;
    border-color: #649600 !important;
}


.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #ffffff !important;
    border-color: #7AB800 !important;
    color: #7AB800;
}

.btn-outline-primary:hover{
    background-color: #7AB800 !important;
    border-color: #7AB800 !important;
    color: #ffffff;
}


.btn-danger, .btn-danger:active, .btn-danger:visited {
    background-color: #C50000 !important;
    border-color: #C50000 !important;
}

.btn-danger:hover{
    background-color: #A10000 !important;
    border-color: #A10000 !important;
}