#main_container{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    margin-top: 20px;
    /*background-color: #fff1a4;*/

}

.fact_cards{
    min-height: 300px;
    margin: 0.2%;
    width: 49.6%;
    padding: 20px;
    transition: 0.3s;
}

.fact_cards:hover {
    background-color: #f8f9fa;
}


#modal_body{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#card_stats_facts_contain{
    text-align: center;

}


#flex-container{
    display: flex;
    flex-wrap: wrap;
}