#main_container{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    margin-top: 20px;
    background-color: #fff1a4;

}

.test_card{
    min-width: 50%;

}

#flex-container{
    display: flex;
    flex-wrap: wrap;
}